@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato-Light.ttf) format("truetype");
  font-family: "Prata";
  src: local("Prata"), url(./fonts/Prata-Regular.ttf) format("truetype");
}

.App {
  text-align: left;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  font-family: Lato;
  background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Prata;
  font-weight: 500;
}

a {
  list-style: none;
}

button {
  background-color: #fff !important;
}

.singe-post {
  width: 65%;
}

.posts img,
.posts > div,
.posts iframe {
  width: 100%;
  height: 100%;
}

.posts > div p {
  color: #4a4a4a;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.posts > div h2 {
  margin: 0px !important;
}

.logo {
  height: 60px;
  width: 130px;
}

.logo img {
  height: 100%;
}

.sidebar {
  width: 20%;
  display: block;
  height: 100vh;
  float: left;
  position: fixed;
  overflow: scroll;
  -moz-box-shadow: 3px 0px 5px 0px #f7f7f7;
  -webkit-box-shadow: 3px 0px 5px 0px #f7f7f7;
  box-shadow: 3px 0px 5px 0px #f7f7f7;
}

.sidebar > div {
  padding: 23px 45px 23px 45px;
}

.main {
  width: 78%;
  float: left;
  margin-left: 22%;
  margin-right: 5%;
}

/* .home {
  padding: 0px 20px;
  height: auto;
} */

.sidebar .nav-items.main {
  margin-left: 0px !important;
}

.sidebar .nav-items {
  width: 100%;
  font-size: 15px;
  color: #42246e;
  padding: 0.3em 0px;
  font-weight: 500;
}

.social-foot {
  margin-top: 30px;
}

.social-foot svg {
  font-size: 14px;
  margin-left: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.social-foot svg:hover {
  font-size: 26px;
  color: #42446e;
}

.copyright {
  margin-top: 0px;
}

.company-foot {
  margin-top: 0px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li {
  list-style: none;
}

.sidebar .nav-items:hover {
  color: #42446e;
  cursor: pointer;
  font-weight: 400;
}

.sidebar hr {
  border: 1px solid #fbfbfb;
  -moz-box-shadow: 0px 0px 9px -8px #fefefe;
  -webkit-box-shadow: 0px 0px 9px -8px #fefefe;
  box-shadow: 0px 0px 9px -8px #fefefe;
  margin-block-start: 1em;
}

.cat-box {
  cursor: pointer;
}

.home .cat-box {
  width: 32%;
  float: left;
  height: 225px;
  /* border-bottom: 2px solid #f1f1f1; */
  margin: 10px;
  margin-left: 0px;
}

.home .cat-box img {
  height: 175.5px;
  width: 100%;
}

.cat-box .post-cat,
.cat-box h3 {
  padding: 5px 0px !important;
  margin-top: 0px;
  cursor: pointer;
}

.post-cat {
  display: none;
}

.home .cat-box h3 {
  margin-bottom: 25px !important;
  font-family: lato;
}

.home .cat-box h3:hover,
.home .cat-box h1:hover {
  font-weight: bold;
  cursor: pointer;
}

.cat-box:hover h3,
.cat-box:hover h1,
.featured .cat-box:hover h1,
.post:hover h3.post-title {
  font-weight: bold !important;
  cursor: pointer;
}

.featured {
  width: 67%;
  float: left;
  padding-right: 20px;
}

.featured .cat-box h1 {
  margin-bottom: 5px;
  cursor: pointer;
}

.non-featured {
  width: 30%;
  float: left;
  height: auto;
}

.featured .cat-box img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.featured .cat-box h3,
.non-featured .cat-box h3 {
  margin-bottom: 0px;
}

.author {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  font-family: lato;
}

.featured .author {
  margin-bottom: 10px;
}

.featured .cat-box {
  width: 100%;
  float: left;
  height: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.non-featured .cat-box {
  width: 100%;
  float: left;
  height: auto;
  border-bottom: 2px dotted #f1f1f1;
  margin: 10px 0px;
}

.page-title-desc {
  width: 98%;
  padding-left: 0px;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #42246e;
}

.featured .cat-box {
  margin: 0px;
}

.more-btn .main {
  margin: 10px 0px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  /* -moz-box-shadow: 0px 0px 9px -8px #ccc;
  -webkit-box-shadow: 0px 0px 9px -8px #ccc;
  box-shadow: 0px 0px 9px -8px #ccc; */
}

.nav-items.foot {
  /* color: #8dccfa; */
  color: #777;
  font-size: 13px;
  font-weight: 400;
}

.article {
  width: 68%;
  float: left;
  padding-right: 20px;
}

@supports (position: sticky) {
  .ads {
    display: block;
    width: 320px;
    float: left;
    position: fixed;
    /* top: 10; */
    margin-top: 40px;
    right: 0;
  }
}

.ads .cat-box img {
  width: 90%;
  height: auto;
}

.latest {
  width: 100%;
  float: left;
}

.post {
  width: 100%;
  display: inline-block;
  padding: 20px 0px;
  border-bottom: 2px solid #f1f1f1;
  cursor: pointer;
}

.post-meta {
  width: 31%;
  float: left;
  padding-right: 20px;
}

.post-title {
  margin-top: 0px;
  text-decoration: none;
  color: #42246e;
  font-weight: 600;
  font-size: 20px;
}

.post-content {
  width: 30%;
  float: left;
  padding-right: 20px;
}

.post-content > div {
  width: 100%;
  float: left;
  padding-right: 10px;
  white-space: pre-line;
  line-height: 1.4;
  -webkit-line-clamp: 7;
  height: 130px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  color: #777;
  font-weight: 400;
  font-size: 14px;
}

.post-content > div p {
  margin-top: 0px !important;
}

.post-author {
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  padding-top: 10px;
}

.post-time-date {
  font-size: 13px;
  font-weight: 400;
  color: #777;
  cursor: pointer;
}

.post-image {
  width: 33%;
  float: left;
}

.post-image img {
  width: 100%;
}

.social-contact {
  width: 100%;
  margin: 10px 0px;
  height: 90px;
}

li.social-contact .svg {
  color: #fff;
  margin-right: 10px;
  width: 20%;
  float: left;
}

li.social-contact svg {
  padding: 10px;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.social-contact-text {
  width: 70%;
  float: left;
  color: #777;
  font-size: 13px;
  font-family: lato;
  padding-top: 2px;
}

.svg-n-text {
  margin-bottom: 10px;
  height: 40px;
}

article p,
article p span {
  font-family: lato !important;
  font-weight: 400 !important;
  padding-right: 20px;
  color: #000 !important;
  text-align: justify !important;
}

article .latest p {
  font-family: lato !important;
  font-weight: 400 !important;
  padding-right: 20px;
  color: #424242 !important;
  text-align: justify !important;
  margin-top: 0px !important;
  height: 100px;
}

article p img {
  width: 100%;
  height: auto;
}

.article-box {
  width: 70%;
  float: left;
}

article .sidebar {
  width: 25%;
  float: left;
}

article h5,
article h6 {
  font-weight: 600;
  font-size: 14px !important;
}

.article-box h4 {
  font-size: 16px;
}

.loader {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

form {
  height: 230px !important;
  display: block;
  padding: 10px 20px;
  background-image: url("./assets/formbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
  width: 300px;
}

input.newsletter-name,
input.newsletter-email {
  width: 290px;
  height: 40px;
  margin: 5px 0px;
  color: #000;
  font-size: 14px;
  font-family: lato;
  padding-left: 10px;
}

input.newsletter-submit {
  width: 300px;
  height: 40px !important;
  background-color: #42446e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none !important;
  box-shadow: 2px 2px 2px #42446e;
}

.home-advert {
  height: 230px !important;
}

textarea.consult-message {
  width: 97.5%;
  height: 100px;
  margin: 20px 0px;
  font-size: 14px;
  color: #363c3b;
  padding-left: 5px;
}

input.consult-email {
  width: 48%;
  height: 40px;
  margin: 20px 5px;
  font-size: 14px;
  color: #363c3b;
  padding-left: 5px;
}

input.consult-name {
  width: 46%;
  height: 40px;
  font-size: 14px;
  color: #fefefe;
  padding-left: 5px;
}
input,
textarea {
  border: 1px solid #eee;
  box-shadow: 2px 2px 4px 0px #42446e33;
}

input:focus,
textarea:focus {
  border: 1px solid #42426e !important;
  box-shadow: inset 2px 2px 4px 0px #42446e33;
  outline: none !important;
}

form.consulting-form {
  width: 50%;
  margin: auto;
  background-image: none;
  height: 100vh;
  padding: 50px 100px;
}

.consult-submit {
  width: 200px;
  font-size: 20px;
  background-color: #424463;
  text-align: center;
  box-shadow: 2px 2px 8px #42246e7a;
  padding: 10px;
  margin: auto;
  font-family: lato;
}

.consult-proposition {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  color: #42246e;
  font-family: Lato;
}
